{% extends 'todoapp/base.html' %}

{% block content %}

    <div class="card mb-3 col-4 mx-auto shadow mb-5 bg-body-tertiary rounded">
        <div class="card-header text-center"><h3>Change Password</h3></div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 mx-auto">
                    <form action="{% url 'change-password' user.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 mx-auto">
                                <div class="form-group my-2">
                                    <input type="password" name="password" class="form-control" placeholder="New Password" autocomplete="off" required>
                                </div>
                                <div class="form-group my-2 d-flex justify-content-between">
                                    <button type="submit" class="btn btn-success my-3">Change</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
{% endblock %}
