{% extends 'todoapp/base.html' %}

{% block content %}
<h3 class="text-center">My Todos</h3>
<hr>

<div class="row">
  <div class="col-md-9 col-sm-12 mx-auto">
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div class="d-flex">
        <input type="text" name="text" id="text" class="form-control" placeholder="Add todo..." autocomplete="off" required>
        <button type="submit" class="ms-2 btn btn-success btn-sm">Add</button>
      </div>
    </form>
    <div class="my-2">
        <div class="card">
            <div class="card-header">Own Todos</div>
            <div class="card-body">
                <table class="table table-bordered border-dark" id="myDataTable">
                    <thead>
                        <tr>
                            <th>Sl#</th>
                            <th class="col-10">Todos</th>
                            <th class="col-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                            <tr>
                                <td scope="col">{{forloop.counter}}</td>
                                <td scope="col">
                                    {% if todo.is_complete == 1 %}
                                        <del class="text-danger">{{ todo.text }}</del>
                                    {% else %}
                                        <span>{{ todo.text }}</span>
                                    {% endif %}
                                </td>
                                <td scope="col">
                                    {% if todo.is_complete == 1 %}
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-success btn-sm opacity-50" href="{% url 'completeTodo' todo.id %}"  data-toggle="tooltip" data-placement="top" title="Complete" style="pointer-events: none;">
                                                <i class="fa fa-check fa-2xs" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm opacity-50" href="{% url 'deleteTodo' todo.id %}"  data-toggle="tooltip" data-placement="top" title="Delete" style="pointer-events: none;">
                                                <i class="fa fa-trash-o fa-2xs" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-primary btn-sm" href="{% url 'updateTodo' todo.id %}"  data-toggle="tooltip" data-placement="top" title="Update">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a class="btn btn-success btn-sm" href="{% url 'completeTodo' todo.id %}"  data-toggle="tooltip" data-placement="top" title="Complete">
                                                <i class="fa fa-check fa-2xs" aria-hidden="true"></i>
                                            </a>
                                            <form method="POST" action="{% url 'deleteTodo' todo.id %}">
                                                {% csrf_token %}
                                                <input name="_method" type="hidden" value="DELETE">
                                                <button type="submit" class="btn btn-danger btn-sm show_confirm" data-toggle="tooltip" title='Delete'>
                                                    <i class="fa fa-trash-o fa-2xs" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$('.show_confirm').click(function(event) {
    var form =  $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    swal({
        title: `Are you sure! to delete this record?`,
        text: "If you delete this, it will be gone forever.",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
    .then((willDelete) => {
        if (willDelete) {
            form.submit();
        }
    });
});
</script>
{% endblock %}
